h1 {
    color: orange;
    background-color: black;
    font-family: cursive;
    font-size: 48px;
    font-weight: 400;
}

body {background-color: darkgray;}

h2 {
    color: darkgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.list {
    color: darkblue;
    font-size: 20px;
}

.recipe {
    color: green;
    background-color: yellow;
    font-size: 30px;
}